@import './app.css';
@import './font-awesome.min.css';
@import './material-icons.css';

.nav-collection {
    margin-bottom: 15px;
}

.nav-collection .nav-parent {
    border-bottom: 1px solid rgba(180, 180, 180, 0.3);
    margin-bottom: 10px;
}

.nav-collection .nav-parent a:hover {
    background-color: transparent !important;
    cursor: default;
}

.nav-collection .nav-parent i, .nav-collection .nav-parent p {
    color: rgb(255, 255, 255, 0.4) !important;
}

.nav-collection .nav-child {
    margin: 0px 10px !important;
    padding: 8px 15px 8px 50px !important;
}

.nav-collection .nav-child i {
    font-size: 20px;
}

.nav-collection .nav-child p {
    font-size: 13px;
}
