:root{
    --primary1: rgb(0, 94, 184);
    --primary2: rgb(162, 0, 103);
    --primary3: rgb(135, 136, 138);
    

    --secondary1:       rgb(0, 177, 235);
    --secondary1-light: rgb(65, 192, 240);

    --secondary2:       rgb(102, 36, 131);
    --secondary2-light: rgb(148, 106, 171);
    
    --secondary3:       rgb(149, 193, 31);
    --secondary3-light: rgb(174, 205, 96);
    
    --secondary4:       rgb(236, 103, 38);
    --secondary4-light: rgb(247, 168, 35);
    
    --secondary5:       rgb(229, 0, 81);
    --secondary5-light: rgb(236, 95, 120);
    
    --secondary6:       rgb(230, 0, 126);
    --secondary6-light: rgb(231, 82, 151);
    
    --secondary7:       rgb(151, 102, 61);
    --secondary7-light: rgb(196, 161, 134);
    
    --secondary8:       rgb(255, 204, 0);
    --secondary8-light: rgb(255, 222, 20);
    
    --secondary9:       rgb(177, 179, 180);
    --secondary9-light: rgb(198, 199, 200);

}