<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         executionOrder="random"
>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="APP_DEBUG" value="false"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="DB_CONNECTION" value="sqlite"/>
        <server name="DB_DATABASE" value=":memory:"/>
        <server name="MAIL_DRIVER" value="array"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
    </php>

    <testsuites>
        <testsuite name="core-components">
            <directory suffix="Test.php">Core/Components/**/Tests</directory>
        </testsuite>

        <testsuite name="bundles">
            <directory suffix="Test.php">**/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">**</directory>
            <exclude>
                <directory suffix="Kernel.php">**</directory>

                <directory>vendor</directory>

                <directory>**/Resources</directory>
                <directory>**/Routes</directory>
                <directory>**/Tests</directory>

                <directory>Core/Application.php</directory>

                <directory>Core/Components/Common/Http/Middleware</directory>

                <!-- TODO: Include database stuff in future? -->
                <directory>Core/Components/**/Database</directory>
                <directory>Core/Components/**/Routes</directory>
                <directory>Core/Components/**/Mail</directory>
                <directory>Core/Components/**/Notifications</directory>
                <directory>Core/Components/**/Tests</directory>

                <directory>Core/System/Bootstrap</directory>
                <directory>Core/System/Exceptions</directory>
                <directory>Core/System/Providers</directory>

                <directory>Core/Testing</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
